<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.dao.SysFeedbackDao">

    <insert id="doSaveObject" parameterType="com.chen.pojo.SysFeedback" keyProperty="id" useGeneratedKeys="true">
        insert into sys_feedbacks
            (userId, feedback, time)
        values (#{userId}, #{feedback}, now())
    </insert>


    <!--    <select id="findPageObjects" resultType="com.chen.pojo.SysUser">
            select u.*,d.name deptName
            from sys_users u left join sys_depts d
            on u.deptId=d.id
            <where>
                <if test="username!=null and username!=''">
                    u.username like concat("%",#{username},"%")
                </if>
            </where>
            order by u.createdTime desc
        </select>-->


</mapper>




